.title {
    font-size: 3rem;
}

.form {
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: #eeeeee;
    border-radius: 10px;
    text-align: center;
}

.formControl {
    padding: 2rem;
}

.formLabel {
    float: left;
}

.formInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.formSubmit {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}