.loading {
    font-size: 3rem;
}

.error {
    font-size: 3rem;
    color: red;
}

.title {
    font-size: 3rem;
    margin: 2rem 0;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0;
}

.btnAdd {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}