.loading {
    font-size: 3rem;
}

.error {
    font-size: 3rem;
    color: red;
}

.title {
    font-size: 3rem;
    margin: auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0;
}